<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Order_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Order_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Order_App.Properties.Settings>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomerName" serializeAs="String">
        <value />
      </setting>
      <setting name="PreferredStore" serializeAs="String">
        <value />
      </setting>
      <setting name="LastStockUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContactNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="WebStoreFile" serializeAs="String">
        <value>http://www.code-beta.com/metro-order-app/store.xml</value>
      </setting>
    </Order_App.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Order_App.Properties.Settings>
      <setting name="XMLStockFile" serializeAs="String">
        <value>C:\metro-order-app\stock.xml</value>
      </setting>
      <setting name="SystemSettingPwd" serializeAs="String">
        <value>sefalana216009</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>code-beta.com</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>codebeta_orderapp</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>codebeta_metro</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>root123</value>
      </setting>
      <setting name="SMTPServerName" serializeAs="String">
        <value>mail.code-beta.com</value>
      </setting>
      <setting name="SMTPUsername" serializeAs="String">
        <value>metro-order-app@code-beta.com</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>sefalana216009</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SMTPSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebStockFile" serializeAs="String">
        <value>http://www.code-beta.com/metro-order-app/stock.xml</value>
      </setting>
    </Order_App.Properties.Settings>
  </applicationSettings>
</configuration>